:host ::ng-deep .ngx-pagination li a {
    background: #e0e7ff;
    color: #1e3a8a;
    border-radius: 10px;
}

:host ::ng-deep .ngx-pagination .current {
    background: #2563eb;
    color: white;
}

::ng-deep .dashboard-drpicker .md-drppicker.shown {
    width: 560px !important;
    top: 100px !important;
}


::ng-deep .md-drppicker {
    display: flex !important;
    flex-wrap: wrap !important;
    background-color: #fcfeff !important;
    max-width: 100%;
}

::ng-deep .md-drppicker.ltr .calendar.left .calendar-table ,
::ng-deep .md-drppicker.ltr .calendar.right .calendar-table
{
background-color: #fcfeff !important;
}

::ng-deep .md-drppicker .calendar {
    flex: 1 1 300px;
    /* border: 2px solid #1d479a; */
 
    
}

 ::ng-deep .md-drppicker .buttons {
    width: 100%;
    order: 10;
   
}

 ::ng-deep .md-drppicker .buttons_input {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    
    /* border-top: 1px solid #e5e7eb; */
   
}

 ::ng-deep .md-drppicker .buttons_input button.btn-default {
    background-color: #ef4444 !important;
    color: white !important;
    border-radius: 10px;
    /* padding: 8px 20px; */
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 6px;
}

::ng-deep .md-drppicker .buttons_input button.btn:not(.btn-default) {
    background: linear-gradient(to right, #2563eb, #4f46e5) !important;
    color: white !important;
    border-radius: 10px;
    /* padding: 8px 20px; */
    font-weight: 400;
}

::ng-deep .md-drppicker td.active, .md-drppicker td.active:hover {
    background: linear-gradient(to right, #2563eb, #4f46e5) !important;
    color: white !important;
}
::ng-deep .md-drppicker td.available:hover, .md-drppicker th.available:hover , .md-drppicker td.in-range{
   background-color: #4f46e5;
}
 
@media (max-width: 640px) {

::ng-deep .dashboard-drpicker .md-drppicker.shown {
        width: 250px !important;
        max-width: 100vw !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

}