<!-- <div class="max-w-6xl mx-auto p-6">

    <h2 class="text-2xl font-bold mb-6 text-blue-700">
        User Management
    </h2>

    @if (loading) {
    <p>Loading users...</p>
    } @else {

    <div class="overflow-x-auto">
        <table class="w-full border rounded-xl overflow-hidden">

            <thead class="bg-blue-50">
                <tr>
                    <th class="p-3  ">Name</th>
                    <th class="p-3">Email</th>
                    <th class="p-3">Role</th>
                    <th class="p-3">Permissions</th>
                    <th class="p-3">Action</th>
                </tr>
            </thead>

            <tbody>
                @for (user of users; track user._id) {
                <tr class="border-t">

                    <td class="p-3 ">{{ user.name }}</td>
                    <td class="p-3">{{ user.email }}</td>
                    <td class="p-3 capitalize">{{ user.role }}</td>

                    @if(user.role === 'admin') {
                    <td class="p-3">Full Access</td>
                    <td><button (click)="updatePermissions(user)" class="px-4 py-2 bg-blue-600 text-white rounded-xl hover:bg-blue-700">
                        Save
                    </button></td>
                    } @else {

                    <td class="p-3">
                        <div class="flex flex-wrap gap-3 text-sm">
                            <label>
                                <input type="checkbox" [(ngModel)]="user.permissions.create" /> Create
                            </label>

                            <label>
                                <input type="checkbox" [(ngModel)]="user.permissions.edit" /> Edit
                            </label>

                            <label>
                                <input type="checkbox" [(ngModel)]="user.permissions.delete" /> Delete
                            </label>
                        </div>
                    </td>
              

                    <td class="p-3">
                        <button (click)="updatePermissions(user)"
                            class="px-4 py-2 bg-blue-600 text-white rounded-xl hover:bg-blue-700">
                            Save
                        </button>
                    </td>
}
                </tr>
                }
            </tbody>

        </table>
    </div>
    }

</div> -->
<!-- <app-task></app-task> -->
<!-- 
<div class="bg-white/90 backdrop-blur-xl border rounded-2xl shadow p-6">

    <div class="overflow-x-auto">
        <table class="min-w-[800px] w-full text-sm">

            <thead class="bg-blue-50 text-blue-700">
                <tr>
                    <th class="p-3 text-left">Name</th>
                    <th class="p-3 text-left">Email</th>
                    <th class="p-3 text-center">Role</th>
                    <th class="p-3 text-left">Permissions</th>
                    <th class="p-3 text-center">Action</th>
                </tr>
            </thead>

            <tbody>
                @for (user of users; track user._id) {
                <tr class="border-t hover:bg-blue-50 transition">

                    <td class="p-3 font-medium">{{ user.name }}</td>
                    <td class="p-3">{{ user.email }}</td>
                    <td class="p-3 text-center capitalize">{{ user.role }}</td>

                <td class="p-3">
                    @if (user.role === 'admin') {
                
                   
                    <span class="inline-flex items-center gap-2
                               px-4 py-1.5 rounded-full
                               bg-green-100 text-green-700
                               text-sm font-semibold
                               shadow-sm ">
                     
                        Full Access
                    </span>
                
                    } @else {
                
                  
                    <div class="flex flex-wrap gap-4">
                
                     
                        <label class="flex items-center gap-2 px-3 py-2 rounded-xl
                                   border border-blue-200 bg-blue-50
                                   cursor-pointer
                                   transition-all duration-200
                                   hover:scale-105 hover:shadow-md">
                            <input type="checkbox" [(ngModel)]="user.permissions.create" class="accent-blue-600 scale-110" />
                           
                            <span class="text-sm font-medium text-blue-800">
                                Create
                            </span>
                        </label>
                
                    
                        <label class="flex items-center gap-2 px-3 py-2 rounded-xl
                                   border border-yellow-200 bg-yellow-50
                                   cursor-pointer
                                   transition-all duration-200
                                   hover:scale-105 hover:shadow-md">
                            <input type="checkbox" [(ngModel)]="user.permissions.edit" class="accent-yellow-600 scale-110" />
                           
                            <span class="text-sm font-medium text-yellow-800">
                                Edit
                            </span>
                        </label>
                
                     
                        <label class="flex items-center gap-2 px-3 py-2 rounded-xl
                                   border border-red-200 bg-red-50
                                   cursor-pointer
                                   transition-all duration-200
                                   hover:scale-105 hover:shadow-md">
                            <input type="checkbox" [(ngModel)]="user.permissions.delete" class="accent-red-600 scale-110" />
                           
                            <span class="text-sm font-medium text-red-800">
                                Delete
                            </span>
                        </label>
                
                    </div>
                    }
                </td>


                <td class="p-3 text-center">
                    <button (click)="updatePermissions(user)" [disabled]="user.role === 'admin'" class="px-4 py-2 rounded-xl font-semibold transition
                               disabled:cursor-not-allowed
                               disabled:bg-gray-300
                               disabled:text-gray-500
                               disabled:shadow-none
                               bg-blue-600 text-white hover:bg-blue-700">
                        Save
                    </button>
                </td>


                </tr>
                }
            </tbody>

        </table>
    </div>

</div> -->


<div class="min-h-screen w-full flex justify-center bg-gradient-to-br from-blue-100 via-sky-100 to-indigo-200 ">

    <div class="w-full max-w-7xl mx-auto p-6 md:mt-3">

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">


            @if (loading) {

            @for(i of [1,2,3]; track $index) {
            <div class="rounded-2xl bg-white/80 p-6 animate-pulse">
                <div class="h-4 w-24 bg-gray-200 rounded mb-3"></div>
                <div class="h-8 w-16 bg-gray-300 rounded mb-2"></div>

            </div>
            }

            }
            @else {

            <div class="relative bg-white/90 backdrop-blur-xl rounded-2xl border border-blue-100 p-6 ">
                <div class="absolute top-5 right-5"><i class='bx text-3xl text-blue-300 bx-check-shield'></i></div>
                <p class="text-sm font-medium text-blue-600 mb-1">
                    Total Users
                </p>

                <h3 class="text-3xl font-extrabold text-gray-800 mb-2">
                    {{5}}
                </h3>

                <p class="text-sm text-gray-500">
                    Users created so far
                </p>
            </div>


            <div class="relative bg-white/90 backdrop-blur-xl rounded-2xl border border-blue-100 p-6 ">
                <div class="absolute top-5 right-5"><i class='bx text-3xl text-orange-200  bx-bolt-alt'></i></div>
                <p class="text-sm font-medium text-orange-400 mb-1">
                    Number of Admins
                </p>

                <h3 class="text-3xl font-extrabold text-gray-800 mb-2">
                    {{2}}
                </h3>

                <p class="text-sm text-gray-500">
                    Users created so far
                </p>
            </div>
            <div class="relative bg-white/90 backdrop-blur-xl rounded-2xl border border-blue-100 p-6 ">
                <div class="absolute top-5 right-5"><i class='bx text-3xl text-orange-200  bx-skull'></i></div>
                <p class="text-sm font-medium text-orange-400 mb-1">
                    Number of Users
                </p>

                <h3 class="text-3xl font-extrabold text-gray-800 mb-2">
                    {{3}}
                </h3>

                <p class="text-sm text-gray-500">
                    Users created so far
                </p>
            </div>

            }


        </div>



        <div class="mt-5 w-full  max-w-7xl bg-white/90 backdrop-blur-xl rounded-2xl shadow-[0_20px_50px_rgba(59,130,246,0.25)]
border border-blue-100 p-8 transition-all duration-300 hover:shadow-[0_25px_70px_rgba(59,130,246,0.35)]  ">
          

            <div class="  ">
            
                <!-- FILTER BAR -->
                <div class="flex flex-col gap-3
                        md:flex-row md:items-center md:justify-between
                        w-full border-b border-blue-200 pb-4">
            
                    <!-- SEARCH -->
                    <input type="text" placeholder="Search by name or email" [(ngModel)]="searchText"
                        (ngModelChange)="filterBySearch()" class="h-12 w-full md:w-2/3
                       rounded-xl
                       border border-blue-200
                       bg-blue-50
                       px-4
                       text-blue-900 placeholder-blue-400
                       focus:ring-2 focus:ring-blue-500
                       transition" />
            
                    <!-- ROLE FILTER -->
                    <!-- <select [(ngModel)]="roleFilter" (ngModelChange)="filterByRole()" class="h-12 w-full md:w-44
                       rounded-xl
                       border border-blue-200
                       bg-white
                       px-4
                       text-blue-900
                       focus:ring-2 focus:ring-blue-500
                       transition">
                        <option value="all">All Roles</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select> -->
            
                    <!-- PAGE SIZE -->
                    <select [(ngModel)]="selectedPageSize" (ngModelChange)="onPageSizeChange($event)" class="h-12 w-full md:w-40
                       rounded-xl
                       border border-blue-200
                       bg-white
                       px-4
                       font-semibold
                       text-blue-900
                       focus:ring-2 focus:ring-blue-500
                       transition">
                        @for (size of pageSizeOptions; track $index) {
                        <option [value]="size">{{ size }}</option>
                        }
                    </select>
            
                    <!-- ADD USER BUTTON -->
                    <button (click)="open.emit()" class="h-12 min-w-[120px]
                       rounded-xl
                       bg-gradient-to-r from-blue-600 to-indigo-600
                       text-white font-semibold
                       flex items-center justify-center
                       px-5
                       shadow
                       hover:scale-[1.03]
                       active:scale-[0.98]
                       transition">
                        Add User
                    </button>
            
                </div>
            
            
                <div class="overflow-x-auto  ">
                    <table class="min-w-[800px] w-full text-base  text-black   ">
            
                        <thead class=" ">
                            <tr class="bg-white border-b text-left">
                                <th class="p-3 text-left">Name</th>
                                <th class="p-3 text-center  ">Email</th>
                                <th class="p-3 text-center">Role</th>
                                <!-- <th class="p-3 text-left">Permissions</th> -->
                                <th class="p-3 text-left">Action</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            @for (user of filteredUsers | paginate:
                            { itemsPerPage: itemsPerPage, currentPage: p };
                            track user._id) {
            
                            <tr class=" 
                                  border-b border-blue-200 hover:bg-blue-50">
            
                                <!-- NAME -->
                                <td class="px-4 py-1  ">
                                    {{ user.name }}
                                </td>
            
                                <!-- ROLE -->
                                <td class="px-4 py-2 text-center">
                                    <span class="inline-flex items-center  px-3 py-1 rounded-full text-xs font-semibold capitalize"  [ngClass]="{'bg-green-100 text-green-700 border border-green-300': user.role === 'admin',  'bg-yellow-100 text-yellow-700 border border-yellow-300': user.role === 'user'}">
                                        {{ user.role }}
                                    </span>
                                </td>
                                <!-- EMAIL -->
                                <td class="px-4 py-2 text-center">
                                    {{ user.email }}
                                </td>
            
            
            
                                <!-- PERMISSIONS -->
                                <!-- <td class="px-4 py-3">
                        
                                @if (user.role === 'admin') {
                        
                           
                                <span class="inline-flex items-center gap-2
                                             px-3 py-1.5
                                             rounded-full
                                             bg-emerald-50 text-emerald-700
                                             text-xs font-semibold">
                           
                                    Full Access
                                </span>
                        
                                } @else {
                        
                     
                                <div class="flex flex-wrap gap-3">
                        
                       
                                    <label class="inline-flex items-center gap-2
                                                  px-3 py-1.5 rounded-lg
                                                  border border-gray-200
                                                  bg-white
                                                  text-xs font-medium text-gray-700
                                                  hover:border-blue-400
                                                  hover:text-blue-600
                                                  transition">
                                        <input type="checkbox" [(ngModel)]="user.permissions.create" class="accent-blue-600" />
                                        Create
                                    </label>
                        
                          
                                    <label class="inline-flex items-center gap-2
                                                  px-3 py-1.5 rounded-lg
                                                  border border-gray-200
                                                  bg-white
                                                  text-xs font-medium text-gray-700
                                                  hover:border-indigo-400
                                                  hover:text-indigo-600
                                                  transition">
                                        <input type="checkbox" [(ngModel)]="user.permissions.edit" class="accent-indigo-600" />
                                        Edit
                                    </label>
                        
                            
                                    <label class="inline-flex items-center gap-2
                                                  px-3 py-1.5 rounded-lg
                                                  border border-gray-200
                                                  bg-white
                                                  text-xs font-medium text-gray-700
                                                  hover:border-red-400
                                                  hover:text-red-600
                                                  transition">
                                        <input type="checkbox" [(ngModel)]="user.permissions.delete" class="accent-red-600" />
                                        Delete
                                    </label>
                        
                                </div>
                                }
                            </td>
                         -->
                                <!-- ACTION -->
                            <td class="flex gap-3">
                                <button (click)="openEdit(user)" class="text-blue-600 hover:underline">
                                    Edit
                                </button>
                            
                                <button (click)="deleteUser(user)" class="text-red-500 hover:underline">
                                    Delete
                                </button>
                            </td>
                            
                          @if(editUser){

                              <app-admin-add-user  [editUser]="editUser" (close)="closeSidebar()">
                            </app-admin-add-user>
                        } 

            
                            </tr>
            
                            }
                        </tbody>
            
                    </table>
                </div>
            
                <div class="mt-4 flex  flex-col gap-3
                           sm:flex-row sm:items-center sm:justify-between">
            
                    <div class="text-blue-600 text-sm font-medium
                             text-center sm:text-left ">
                        Total Users: {{ filteredUsers.length }}
                    </div>
            
                    <div  class="flex justify-center sm:justify-center w-full sm:w-auto" >

                    <pagination-controls (pageChange)="p = $event" previousLabel="Prev" nextLabel="Next" class="text-sm">
                    </pagination-controls>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>